extends layouts/main-layout

block content
  h1 HR Portal Login
  
  if error
    .error-msg= error

  // Changed action to /login
  form(action="/login", method="POST")
    div
      label(for="username") Username
      input(type="text", name="username" required)
    div
      label(for="password") Password
      input(type="password", name="password" required)
    
    button(type="submit") Log In
  
  p(style="margin-top: 20px") Need an account? 
    a(href="/signup") Register here.