extends layouts/main-layout

block content
  h1 Create HR Account
  
  if error
    .error-msg= error

  form(action="/signup", method="POST")
    div
      label(for="username") Username
      input(type="text", name="username", placeholder="Choose a username" required)
    div
      label(for="password") Password
      input(type="password", name="password", placeholder="Choose a password" required)
    
    button(type="submit") Register Account
  
  p(style="margin-top: 20px") Already have an account? 
    a(href="/login") Login here.