doctype html
html
  head
    title= title || "HR System"
    link(rel="stylesheet", href="/css/style.css")
  body
    nav
      a(href="/") Home
      a(href="/directory") Employee Directory
      a(href="/login") Login
      a(href="/signup") Signup
      a.logout-btn(href="/login") Logout
      a(href="/dashboard" style="color: #f1c40f") [Admin Dashboard]
    
    .container
      block content